body{
  overflow-x: hidden;
  background-image: url(https://ak8.picdn.net/shutterstock/videos/16400158/thumb/1.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}



nav{
  display: flex;
  position: fixed;
background-color:#000000;
padding:2em;
padding-right: 54em;


}



nav> li> a{
  text-decoration: none;
color: white;
float:right;

}
nav> li> a:hover{
  color: blue;
}
img#dp{
  border-radius: 120%;
  width: 30%;
  height: 26em;
  margin-left: 20em;
  image-resolution: from-image;

}
